@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Maven+Pro:wght@400;500;700&display=swap');

:root {
  --main-color: #ecf0f1;
  --point-color: #adc9d3;
  --size: 5px;
  --nav-color: #f0f326;
  --intro-font: 'Bree Serif', serif;
}

* {
  margin: 0;
  padding: 0;
}

.header__name {
  font-size: 28px;
  font-family: var(--intro-font);
}

.username {
  font-size: 26px;
  font-family: var(--intro-font);
  color: var(--nav-color);
}

.profile__bio {
  font-size: calc(10px + 2vmin);
  width: 50%;
  align-self: center
}

body {
  background-color: #34343b;
  color: #fff;
  font-family: 'Maven Pro', sans-serif;
}

.top__clearance {
  justify-content: center;
  align-content: center;
}
.not__found {
  font-size: 150px;
}

/* .App {
  text-align: center;
} */


.App__header {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 10px 15px;
  width: 90%;
  align-items: center;
  top: 10px;
  left: 50%;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: white;
  transform: translate(-50%);
  transition: all ease-out .5s;
}

.header__scrolled {
  background-color: #484a51;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links li {
  list-style: none;
  padding: 3px 10px;
  position: relative;
}

.nav__links li a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav__inactive {
  color: #fff;
}

.nav__links li a:hover, .nav__active
{
  color: var(--nav-color);
  font-weight: 500;
}


.nav__links li a:hover::after, .nav__active::after {
  content: '';
  width: 35%;
  height: 3px;
  background: var(--nav-color);
  position: absolute;
  bottom: -5px;
  left: 10px ;
}

.error__msg {
  box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.75) inset -4px -4px 15px 0px rgba(0,0,0,0.75) inset;
  width: 300px;
  background-color: #04172f;
  font-size: 14px;
  padding: 15px;
  text-align: center;
  margin: 150px auto;
  border-radius: 10px;
  line-height: 1.7em;
}

/* .App__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.loader {
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center; 
  height: 100vh;
  justify-content: center;  
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}

/* Home Background animation
* by Manuel Pinto
* https://manuel.pinto.dev
*
*/

.home {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.home img {
  border-radius: 50%;
  height: 300px;
  align-self: center
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* End of Home background animation */

.repos {
  margin: 100px auto;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;

}

.repo__list {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #525a69;
}

.repo__display {
  justify-self: flex-start;
  width: 100%;
  margin-right: 20px;
}

.repo__list::-webkit-scrollbar {
  width: 6px;
}

/* .statesNav::-webkit-scrollbar-track {
  background: #04172f;
} */

.repo__list::-webkit-scrollbar-thumb {
  background-color: #525a69;
  border-radius: 5px;
}

.repository {
  
  border-bottom: 1px solid #adc9d3;
  margin: 10px 0;
  padding: 10px ;
}

.repository a, a:active {
  color: #fff;
  text-decoration: none;
}

#mobile {
  display: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
}

.git__name {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.git__desc {
  background:  #525a69;
  border-radius: 5px;
  padding: 20px 30px;
  line-height: 1.5em;
  font-size: 15px;
}

.git__desc p {
  margin: 15px 0;
  
}

.repo__header {
  margin: 15px 10px;
  font-weight: 600;
}

.num__btns {
  margin: 10px auto;
  display: flex;
  justify-content: center;

}
.pageNumBtn {
  border: 1px solid #525a69;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}


@media screen  and (max-width: 640px) {

  #mobile {
    display: flex;
    z-index: 2;
  }

  #mobile i{
    font-size: 24px;
    cursor: pointer;
  }

  .hamburger__btn {
    content: '';
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 3px;
    transition: all .35s ease-in-out;
  }
  
  .hamburger__btn::before,
  .hamburger__btn::after {
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background: #fff;
    border-radius: 3px;
    transition: all .35s ease-in-out;
  }
  
  .hamburger__btn::before {
    transform: translateY(-12px);
  }
  
  .hamburger__btn::after {
    transform: translateY(12px);
  }

  #mobile.menu__open .hamburger__btn {
    background: transparent;
  }

  #mobile.menu__open .hamburger__btn::before {
    transform: rotate(-45deg) translate(-4px, -10px);
  }

  #mobile.menu__open .hamburger__btn::after {
    transform: rotate(45deg) translate(-10px, 4px);
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: -10px;
    right: -280px;
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(4px);
    padding: 25px 0 0 10px;
    transition: 0.35s ease-in-out;
  }

  .nav__links li {
    margin-bottom: 20px;
    
  }

  .nav__links.toggle__navbar {
    right: -20px;
    
  }

  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 10px;
  }

  .home img {
    height: calc(100px + 30vmin);
    margin: 30px 5px;
  }

  .profile__bio {
    width: 90%;
    text-align: center;
  }

  .repos {
    flex-direction: column;
  }

  .repo__list {
    width: 100%;
  }

}
